* {
    font-family: 'Courier New', Courier, monospace;
    outline: none; /*To remove blue outline in chrome*/
}

/*To remove dotted outline in firefox*/
button::-moz-focus-inner {
    border: 0;
}

body {
    background-color: lightgray;
    padding: 100px 0.5vw 0px 1vw;
    margin: 0px;
}

.header {
    position: fixed;
    z-index: 2;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(128, 128, 128, 0.85);
    color: white;
    text-align: center;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

 .add-button{
     position: fixed;
     bottom: 7.5vw;
     left: 7.5vw;
     border: none;
     height: 125px;
     width: 125px;
     border-radius: 100px;
     background-color: orange;
     font-size: 64px;
     color: white;
     z-index: 2;
     cursor: pointer;
 }

 .add-button:active {
    bottom: 9vw;
 }

 @keyframes fade-in {
    from { 
        opacity: 0.0;
   }
    to {
        opacity: 1.0;
   }
}

 .note {
     position: relative;
     width: 17.9%;
     display: inline-block;
     background-color:lightgoldenrodyellow;
     border-radius: 15px;
     text-align: center;
     vertical-align: top;
     margin: 1vw;
     padding-bottom: 16px;
     animation-name: fade-in;
     animation-duration: 0.6s;
}

 .note-title {
     width: 90%;
     display: inline-block;
     background-color: lightgoldenrodyellow;
     text-align: center;
     font-size: 24px;
     border: none;
 }

 .note-content {
     width: 90%;
     height: 100px;
     background-color: lightgoldenrodyellow;
     display: inline-block;
     resize: none;
     overflow: hidden;
     border: none;
     font-size: 16px;
 }

 .option-button {
     float: right;
     margin-right: 10px;
     border: none;
     background-color: rgba(0,0,0,0);
     font-size: 32px;
     color: gray;
     cursor: pointer;
 }

  .option-button:active {
    position: relative;
    bottom: 15px;
 }

 .note-menu {
     position: absolute;
     bottom: 45px;
     right: 15px;
     z-index: 3;
     background-color: lightgray;
     display: inline-block;
     border-radius: 15px;
     width: 160px;
     padding: 5px 5px 0px 5px;
     -moz-box-shadow: 2px 2px 4px 2px#777777; 
	 -webkit-box-shadow: 2px 2px 6px 2px #777777; 
     box-shadow: 2px 2px 6px 2px #777777;
     text-align: center;
     animation-name: fade-in;
     animation-duration: 0.4s;
 }

 .color-option {
     display: 'inline-block';
     height: 40px;
     width: 40px;
     border-radius: 20px;
     border: 1px solid gray;
     margin: 5px;
     cursor: pointer;
 }

 .color-option:active {
     position: relative;
     bottom: 5px;
 }

 
 .delete-note {
     display: inline-block;
     margin-bottom: 10px;
     cursor: pointer;
 }
 .delete-note:active {
     position: relative;
     bottom: 5px;
 }

 .delete-text {
     margin: 0px;
     color: #993333;
     display: inline-block;
     vertical-align: middle;
 }

 .delete-icon {
     margin: 0px;
     height: 24px;
     display: inline-block;
     vertical-align: middle;
 }
 @media screen and (max-width: 1280px) {
     .note {
         width: 31%;
     }
 }

 @media screen and (max-width: 640px) {
    .note {
        width: 47.9%;
    }
}